.main-menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include padding-y(1.75rem);
}

.main-menu-bar {

	&-hamburger {


		@include breakpoint-up("md") {
			display: none;
		}
	}

	&-menu {
		display: none;

		.menu-link {

			@include color("primary");
			@include font-weight("md", $font-weights);
		}


		@include breakpoint-up("md") {
			display: block;
		}
	}

	&-btn {
		display: none;
		padding: 0.75rem 1.5rem;
		@include bg-color("primary");
		@include color("third");


		@include breakpoint-up("md") {
			display: block;
		}
	}
}

