.main-menu-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include padding-y(1.75rem);

	&-hamburger {


		@include breakpoint-up("md") {
			display: none;
		}
	}

	&-menu {
		display: none;

		.menu-link {

			@include color('primary');
			@include font-weight('md', $font-weights);
		}


		@include breakpoint-up('md') {
			display: block;
		}
	}

	&-btn {
		display: none;
		padding: 0.75rem 1.5rem;
		@include bg-color('primary');
		@include color('third');


		@include breakpoint-up('md') {
			display: block;
		}
	}

	&-mobile-menu {

		display: flex;
		width: 100%;
		flex-direction: column;
		padding: 2rem 0;
		justify-content: center;
		position: absolute;
		@include bg-color('third');
		left: 0;
		z-index: 9999;

		.menu-link {

			@include color('primary');
			@include font-weight('md', $font-weights);
			text-align: center;

			&:not(:last-child) {

				margin-right: 0;
			}

			&:not(:first-child) {

				margin-top: 1.2rem;
			}
		}
		
	}
}

