{
	"extends": [
		"standard",
		"plugin:react/recommended"
	],
	"env": {
		"browser": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"react/prop-types": "off",
		"semi": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"double"
		],
		"indent": [
			"tabs",
			"error"
		]
	}
}