{
  "extends": [
		"plugin:react/recommended",
		"standard"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-first-prop-new-line": [1, "always"],
    "react/jsx-max-props-per-line": [1,{"when": "always"}],
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"eqeqeq": "error",
		"curly": "error",
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"react/prop-types": "off"
  }
}
