//// COLORS ////

$colors: (
  'primary': hsl(0, 0%, 0%), // Pure Black
  'second': hsl(233, 233%, 233%), // Light Grey
  'third': hsl(255, 255%, 255%), // Puer White
);


//// FONTS ////
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap'); // DM Sans


// Sizes
$par-sizes: (
  'sm': 0.9375rem,
  'md': 1.125rem,
  'lg': 2rem,
);

$heading-sizes: (
  'xsm': 1.125rem,
  'sm': 2rem,
  'md': 2.5rem,
  'lg': 3rem,
  'xlg': 3.5rem,
);

$par-lh-sizes: (
  'sm': 1.56rem,
  'md': 1.75rem,
);

$heading-lh-sizes: (
  'sm': 1.75rem,
  'md': 3rem,
  'lg': 3.5rem,
);


// Weight
$font-weights: (
  'sm': 400,
  'md': 700,
);


// Family
$font-family: (
  'primary': 'DM Sans'
);


//// MEDIA QUERIES ////
$breakpoints-up: (
  'sm': 21.875rem,
  'md': 62rem,
  'lg': 90rem,
);

$breakpoints-down: (
  'md': 61.9375rem,
  'lg': 89.9375rem,
);


//// SPACES ////

$margin-y: (
  'sm': 7.5rem,
  'md': 9rem,
  'lg': 12.5rem,
);

$padding-x: (
  'sm': 2rem,
  'md': 2.5rem,
  'lg': 10rem,
);

