@import "../../scss/settings/theme";


@import "../../scss/tools/functions";
@import "../../scss/tools/mixins";


@import "../../scss/base/normalize";
@import "../../scss/base/base";


@import "../layout/header/header";
@import "../layout/main-menu/main-menu";
@import "../layout/sections/section-two/section-two";
@import "../layout/sections/section-three/section-three";
@import "../layout/sections/section-four/section-four";
@import "../layout/sections/section-five/section-five";
@import "../layout/footer/footer";


@import "../ui/menu/menu";
@import "../ui/button/btn";
@import "../ui/image/img";
@import "../ui/heading/heading";
@import "../ui/card/card";
@import "../ui/text-block/text-block";
@import "../ui/price-panels/price-panels";
@import "../ui/panel/panel";