.panel {
	width: 100%;
	padding: 4rem 2rem;
	text-align: center;
	@include bg-color('fourth');

	&-heading {

		margin-bottom: 1rem;
		@include font-weight('md', $font-weights);
	}

	&-text {

		@include breakpoint-down('md') {
			height: 7rem;
		}
	}

	&-price {

		margin-top: 1.5rem;
		@include font-size('lg', $par-sizes);
		@include font-weight('md', $font-weights);
	}

	&-button {

		width: 100%;
		margin-top: 2rem;
	}
}

.panel.selected {

	@include bg-color('primary');
	@include color('third');
}

