.card {
	overflow: hidden;

	&-header {

		line-height: 0rem;
	}

	&-body {

		@extend .container;
		@include padding-y(4.5rem);

		&-separator {

			opacity: 0.25;
		}

		&-btn {

			background: none;
		}

		&-icon {

			margin-left: 1rem;
		}


	}

}

//// CARD PRIMARY ////
.card-primary {
	@extend .card;

	&-header {


		@include breakpoint-up("md") {
			width: 35%;
		}

		@include breakpoint-up("lg") {
			width: 57%;
		}

	}

	&-body {

		&-btn {

			background: none;
		}
		

		@include breakpoint-up("md") {
			justify-self: center;
			align-self: center;
		}

		@include breakpoint-up("lg") {
			width: 43%;
			@include hor-padding(7rem);
		}

	}


	@include breakpoint-up("md") {
		display: flex;
	  //flex-direction: row-reverse;
	}

}

.card-primary.img-right {


	@include breakpoint-up("md") {
		flex-direction: row-reverse;
	}
	
}


//// CARD SECOND //// 

.card-second {
	position: relative;

	&-body {

		position: absolute;
		padding: 0rem 2rem;
		bottom: 1rem;
		@include color("third");

		&-btn {

			@include color("third");
			margin-top: 1.5rem;
		}
	}

}

