.price-panels {
	@include padding-y(4rem);

	&-panels {
		margin-top: 4rem;

		@include breakpoint-up('lg') {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 2rem;
		}
	}

	&-panel {

		&:hover {

			@include bg-color('primary');
			@include color('third');
			@include transition('background-color', 0.5s);
			@include transition('color', 0.5s);

			.panel-button {

				@include bg-color('third');
				@include color('primary');
				@include transition('background-color', 0.5s);
				@include transition('color', 0.5s);
			}
		}

		&:not(:first-child) {

			@include breakpoint-down('lg') {
				margin-top: 3rem;
			}
		}

		.panel-button {

			padding: 1rem 0;
			@include bg-color('primary');
			@include color('third');

			&:hover {

				opacity: 0.5;
				@include transition('opacity', 0.5s);
			}
		}

		@include breakpoint-up('md') {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint-up('lg') {
			display: block;
		}
	}

	&-toggle {

		display: flex;
		justify-content: center;

		.switch {
			
			margin: 0 2rem;
		}
	}
	
}

